.container-text { 
  padding: 0 0 0 40px;
}

.container-list { 
  padding: 0 0 0 40px;
}

.el-input__inner {
  border-radius: 25px !important;
}

.el-button--primary {
  background-color: #0070e0;
  width: 80%;
  height: 32px;
}

.el-button--primary span {
  font-weight: 600;
  margin-bottom: 3px;
}

.el-button--primary:hover {
  background-color: #007af5;
} 

.wrapper-button {
  display: block;
}



@media screen and (max-width: 768px) {
  .container-list {
    padding: 0 0 0 0px;
  }

  .container-text {
    padding: 0 0 0 0px;
  }

  .wrapper-button {
    display: none;
  }
}